---
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Vineet Garg</title>
    <!-- Meta -->
    {% include meta.html %}

    {% include css.html %}
    <!-- github calendar css -->
    <link rel="stylesheet" href="/assets/plugins/github-calendar/dist/github-calendar.css"/>

    <!-- github acitivity css -->
    <link rel="stylesheet" href="/assets/plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">

    {% include analytics.html %}

</head>

<body>
    {% include navbar.html %}
    <!-- ******HEADER****** -->

    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="Vineet Garg" />
            <div class="profile-content pull-left">
                <h1 class="name">Vineet Garg</h1>
                <h2 class="desc">Software Engineer in progress</h2>
                <ul class="social list-inline">
                    <li><a href="https://github.com/grgvineet" title="GitHub"><i class="fa fa-github-alt"></i></a></li>
                    <li><a href="https://linkedin.com/in/grgvineet" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/grg_vineet" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="blog" title="Blog"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div><!--//profile-->
        </div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I am a final year under graduate pursuing B-Tech in Computer Engineering at Delhi Technological University. Being very new to software industry (started in freshman year), I have really enjoyed it from the start. It teaches you something new everyday! During these 3 years, apart from computer technologies like C, C++, JAVA and various frameworks(Qt, Android etc) I have learned that we should not fear the unknown.If we want to learn something new, nothing can stop us.</p>

        <p>I like lay in bed and think about solution to my problems and eventually sleep(Yeah, I am that much lazy). Apart from it, with someone I am highly energetic and always like to venture into the unknown!</p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Software Engineering Intern - <span class="place"><a href="https://www.arista.com/">ARISTA</a></span> <span class="year">(June 2016 - August 2016)</span></h3>
                                <p>At ARISTA my task I was involved in implementing mirroring to CPU on StrataXGS Trident II switch series. Worked from manually programming the hardware to writing agents to do that, programming of DMA driver for the feature etc. Successfully implemented the functionality for fixed system switches.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Google Summer of Code Participant - <span class="place"><a href="https://www.kde.org/">KDE</a></span> <span class="year">(April 2015 - August 2015)</span></h3>
                                <p>KDE Connect is a project which aims to provide a way so that all your devices on same network can communicate with each other. During the GSOC period I ported whole backend of both mobile and desktop written in Android and Qt respectively, to use SSL/TLS for communication between devices. It used Trust On First Use (TOFU) model. This removed the use of RSA for encrypting the data making the system more fast and robust with full packet encryption instead of payload and saved from Man in the Middle attacks
Prior to that I also contributed for some feature enhancements like notification filtering, progress bar while sending and receiving data etc.</p>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="https://github.com/grgvineet/mlx" target="_blank" alt="ParaTube">MLX</a> <span class="label label-theme">Open Source</span></h3>
                                <p class="summary">A Machine Learning library for horizontally partitioned distributed data on top of HPX</p>
                                <div class="featured-image">
                                    <a href="https://github.com/grgvineet/mlx" target="_blank">
                                    <img class="img-responsive project-image" src="assets/images/projects/mlx.png" alt="MLX" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>

                                <div class="desc text-left">
                                    <p>MLX is a machine learning library implemented on top of HPX for horizontally partitioned distributed data. It provides an easy to use API similar to R and Python. It currently supports 3 algorithms, Linear Regression, K-Means &amp; Random Forests. It can run all these algorithms over horizontally partitioned data stored in CSV format distributed over multiple nodes. As it is build on top of HPX, it is a runtime system that starts with application startup and exits with it, thus no rigorous installation and setting up required. </p>
                                </div><!--//desc-->
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/grgvineet/ParaTube" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/paratube.png" alt="Paratube" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://github.com/the-dagger/lEarnit" target="_blank">Paratube</a> <span class="label label-theme">Open Source</span></h3>
                                    <p>ParaTube is a multi threaded(parallel) YouTube video downloader, specially designed to utilize maximum available bandwidth on public networks to download videos as fast as possible. User can select from available available formats according to his needs. It is written in C++ using Qt framework to make it cross platform. ParaTube is still in its infancy but can download single videos and whole playlists at very fast rates.</p>
                                    <p><a class="more-link" href="https://github.com/the-dagger/lEarnit" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/the-dagger/lEarnit" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/learnit.png" alt="Hackerhire" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://github.com/the-dagger/lEarnit" target="_blank">lEarnIt</a> <span class="label label-theme">Open Source</span></h3>
                                    <p>lEarnIt is a Paytm powered Android application to motivate children to study. It links parent's Paytm wallet and child's wallet within the application. Every time child completes a module successfully, a sum of money is transferred from parent's wallet to child's wallet which can be further used to buy stuff for the child.<br>
									I successfully integrated Paytm's P2P money transfer flow using their APIs (which are not publicly available yet, only made available during hackathon) so that after successful completion of a module , money can be transferred from parent's wallet to child's wallet by just pressing a button and entering OTP</p>
                                    <p><a class="more-link" href="https://github.com/the-dagger/lEarnit" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="https://github.com/grgvineet/hackerhire" target="_blank">
                                <img class="img-responsive project-image" src="assets/images/projects/hackerhire.png" alt="Hackerhire" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="https://github.com/grgvineet/hackerhire" target="_blank">Hackerhire</a> <span class="label label-theme">Open Source</span></h3>
                                    <p>Hackerhire is an online technical interviewing platform. It supports real time code and virtual white board sharing between interviewer and interviewee. It supports real time video and text chat implemented using WebRTC. Entire backend is written using Node.js and front end using Jade and Stylus.</p>
                                    <p><a class="more-link" href="https://github.com/grgvineet/hackerhire" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Other Projects</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="https://play.google.com/store/apps/details?id=com.vineet.ballfall.android">Ball Blast</a>  <span class="label label-theme">Open Source</span></h3>
                                <p class="summary">Ball Blast is an Android game where you have to control a moving ball and save it from spikes. The game is written in Java using libGDX framework. Although just released for Android, the game can also be compiled for Desktop, Web, and iOS.</p>
                                <p><a class="more-link" href="https://github.com/grgvineet/ballblast" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><a href="https://play.google.com/store/apps/details?id=com.vineet.notes">Notes</a></h3>
                                <p class="summary">Notes is a easy-to-use, simple widget for Android devices. It can stick to your home screen and can easily remind you of stuff every time you check your phone. Single tap edit option directly from home screen, can have multiple notes simultaneously with different colors.</p>
                                <p><a class="more-link" href="https://play.google.com/store/apps/details?id=com.vineet.notes" target="_blank"><i class="fa fa-external-link"></i> Download</a></p>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->

                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Delhi, India</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:grgvineet@gmail.com">grgvineet@gmail.com</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">JAVA</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">C++</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="75%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Bash &amp; Python</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="60%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Git</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="75%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Android</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Qt</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="65%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Node</h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->


                                <!-- <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Coderwall</a></p> -->
                            </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <!-- I don't have testimonials yet, but lets keep this section for future -->
                <aside class="testimonials aside section hidden">
                    <div class="section-inner">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">
                                    <p><i class="fa fa-quote-left"></i>Vineet is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
                                </blockquote>
                                <p class="source"><span class="name">John Doe</span><br /><span class="title">Curabitur commodo</span></p>
                            </div><!--//item-->

                            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> B-Tech Computer Science</h3>
                                <h4 class="university">Delhi Technological University <span class="year">(2013-2017(Expected))</span></h4>
                                <h4 class="university">CGPA : 8.5 (till now)</h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> Senior Secondary</h3>
                                <h4 class="university">Rajkiya Pratibha Vikas Vidyalaya <span class="year">(2013)</span></h4>
                                <h4 class="university">Percentage : 94.4</h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Hindi:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <div id="rss-feeds" class="content">
                            <div class='item'>
                                {% for post in site.posts limit : 3 %}
                                    <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title}}</a></h3>
                                    <div>
                                        <p>{{post.excerpt}}</p>
                                        <a class="more-link" href="{{ site.baseurl }}{{ post.url }}" target="_blank"><i class="fa fa-external-link"></i>Read more</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <!-- I have not been to any conference yet, but lets keep this for future -->
                <aside class="list conferences aside section hidden">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="https://developer.apple.com/wwdc/" target="_blank">WWDC 2014</a> (San Francisco)</li>
                                <li><i class="fa fa-calendar"></i> <a href="http://hive.aigaseattle.org/">Hive</a> (Seattle)</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="credits aside section">
                    <div class="section-inner">
                        <h2 class="heading">Credits</h2>
                        <div class="content">
                             <p>Special thanks to the UX designer <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying Riley</a> for making it <strong>FREE</strong> at <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a> under the <a class="dotted-link" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a></p>
                             <p>Also by transitive property special thanks to all those thanked by the Xiaoying Riley.
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    {% include footer.html %}

    <!-- Javascript -->
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="assets/plugins/github-activity/src/github-activity.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>

<div >

</div>

</body>
</html>
