<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <!-- Too much hacky solutin, fix it -->
                {% if page.path contains 'blog' or page.path contains '_posts' %}
                <a class="navbar-brand" href="#">Vineet Garg's Blog</a>
                {% else %}
                <a class="navbar-brand" href="#">Vineet Garg</a>
                {% endif%}

            </div>
            <div class="collapse navbar-collapse" id="navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" title="Home"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/blog" title="Blog"><i class="fa fa-rss"></i> Blog</a></li>
                    <li><a href="/assets/files/vineetgarg.pdf" title="Resume"><i class="fa fa-file-text"></i> Resume</a></li>
                    <li><a href="/contact" title="Contact"><i class="fa fa-envelope"></i> Contact</a></li>
                </ul>
            </div>
        </div>
</nav>  