---
layout: default
---

<section class="about section">
    <div class="section-inner">
        <h5 class="item">{{ page.date | date: '%B %d, %Y' }}</h5>
        <h2 class="heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ page.title }}</a></h2>
        <div class="content">
            {{ content }}
        </div>
        {% if page.tags.size > 0 %}
              <h5><i class="fa fa-tag" aria-hidden="true"> </i>Tag{% if page.tags.size > 1 %}s{% endif %} : {{ page.tags | sort | join: ", " }}</h5>
        {% endif %} 
    </div>
</section>

{% if page.comments %}
<section class="about section">
    <div class="section-inner">
        {% include disqus.html %}
    </div>
</section>
{% endif %}
